// @import '../../../styles/_default';

@miao-prefix: miao;

@indentation-prefix-cls: ~'@{miao-prefix}-indentation';

.miao-indertation-main-box{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 99;
}
.@{indentation-prefix-cls} {
    height: 100%;
    
    &-main-box{
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        z-index: 99;
    }
}

